/*
Lección 3: Tarea de posicionamiento con CSS. Todo el trabajo debe hacerse en este archivo, por lo que si estás tocando cualquier otro
archivo en cualquiera de estas carpetas, estás en el lugar equivocado.
*/

/* Ejercicio 1: Centrar el texto en un span */

/* Arrancaremos este ejercicio por vos: */
#ejercicioUno {
    display: block;
    text-align: center;

}


/* Ejercicio 2: Posicionar el header */

/* Acá va tu código */
#ejercicioDos{
    display: none;

}




/* Ejercicio 3: */

/* Acá va tu código */
#ejercicioTres{
    position: relative;
    top: 100px;
    left: 200px;
}



/* Ejercicio 4: */

/* Acá va tu código */
#ejercicioCuatro{
    position: fixed;
    top: 0;
    left: 0;
    
}



/* Ejercicio 5: */

/* Acá va tu código */
#ejercicioCinco{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}



/* Ejercicio 6. */


#elementoUno{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgb(120, 120, 165);
    border: 10px inset orangered;
}
#elementoDos{
    display: flex;
    justify-content: end;
    background-color: rgb(160, 79, 177);
    margin-bottom: 40%;
    height: 50px;
    width: 105px;
    border: 20px groove  rgb(247, 63, 7);
    

}
#elementoTres{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgb(79, 177, 144);
    margin-bottom: 20%;
    height: 50px;
    width: 175px;
    border: 10px double blue;

}
#elementoCuatro{
    background-color: #ccc;
	position: absolute;
	height: 250px;
	width: 200px;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -150px;
    writing-mode: vertical-rl;
    border: 20px dashed violet;
}
